*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  align-items: end;
  gap: 30px;
  width: 1140px;
  /* height: 534px; */
}

.result {
  grid-area: 1 / 1 / 2 / 1;
  margin-top: 78px;
  width: 711px;
  height: 456px;
}

.result__video-container {
    width: 711px;
    height: 386px;
    margin-bottom: 16px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__textfield {
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.form__textfield::placeholder {
  color: #fff;
  opacity: 0.7;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 55px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  width: 100%;
  height: 100%;
  grid-area: 1 / 2 / 2 / 2;
}

.title {
  font-size: 75px;
  font-family: 'Oswald';
  font-weight: bold;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;      /* запрет переноса строк */
  overflow: hidden;         /* скрыть выходящий за пределы текст */
  text-overflow: ellipsis;  /* добавить "..." в конце */
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: normal;
  line-height: 16.2px;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.more-button {
  margin-top: 30px;   /*TODO*/
  width: 100%;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}